@model TallleresPaco.Models.Alquileres

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alquileres</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Fecha de Inicio
        </dt>
        <dd class="col-sm-10">
            @Model.FechaInicio.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            Fecha de Finalización
        </dt>
        <dd class="col-sm-10">
            @Model.FechaFin.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            Precio Final
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioFinal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd>
        <dt class="col-sm-2">
            Matrícula
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehiculo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
